<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
        <a href="~/Login/Login">Login</a>
        <a href="~/Login/Them">Thêm mới</a>
        <a href="~/Login/Xoa">Xóa</a>
        <a href="~/Login/Sua">Sửa</a>
    </div>
</body>
</html>
