
@{
    ViewBag.title = "Lỗi";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ViewBag.title</title>
</head>
<body>
    <div>
        <p>Lỗi</p>
        <a href="~/Login/Login">Login</a>
    </div>
</body>
</html>
