
@{
    Layout = "~/Views/Shared/LayoutUser.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Xoa</title>
</head>
<body>
    <div>
        <form action="~/Login/LuuXoa">
            <label>Mã sinh viên muốn xóa</label>
            <input type="text" name="Ma" id="Ma" />
            <input type="submit" value="Xóa" />
        </form>
    </div>
</body>
</html>
